# maven ignore
target/
bin/
*.war
*.zip
*.tar
*.tar.gz
*.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.cache
*.diff
*.patch
*.tmp
~$*.doc
*.checkstyle

# system ignore
.DS_Store
Thumbs.db


logs/
classes/
log/
*.log.*